.form {
   display: flex;
   padding: 0 1.35rem;
   flex-direction: column;

   & > label {
      margin-bottom: 1rem;
   }

   & > input,
   > select {
      border: none;
      background-color: transparent;
      border-bottom: 2px solid rgb(212, 206, 206);
      padding: 0.25rem 0.65rem;
      transition: border-bottom-color 0.3s;
      outline: none;

      &:focus {
         border-bottom-color: var(--primary);
      }
   }
}

.btn {
   font-size: large;
   width: 100%;
   background-color: var(--secondary);
   padding: 0.8em;
   text-align: center;
   color: #fff;
   font-weight: bold;
   border-radius: var(--radius);
   margin-bottom: 1rem;

   & + .btn {
      background-color: transparent;
      border: 2px dashed var(--secondary);
      color: unset;
      transition-property: background-color, color;
      transition-duration: 0.3s;

      &:hover {
         background-color: var(--secondary);
         color: #fff;
      }
   }
}

.error {
   color: rgb(222, 7, 7);
   font-size: small;
   margin-bottom: 2rem;
   margin-left: 0.25rem;
}
