.add-btn {
   width: 100%;
   text-align: center;
   background-color: var(--secondary);
   color: #fff;
   font-weight: bold;
   font-size: large;
   padding: 1em;
   border-radius: var(--radius);
   margin: -2.5rem 0 1rem;
}

.filter {
   width: 100%;
   border: none;
   border-bottom: 1px solid hsl(0, 4%, 50%);
   padding: 0.5rem 1rem;
   text-align: center;
   font-size: large;
   transition: border-bottom-color var(--transition-duration);

   &:focus {
      outline: none;
      border-bottom-color: var(--primary);
   }
}

.info {
   text-align: center;
   font-size: x-large;
}

.transaction {
   cursor: pointer;
   border-radius: var(--radius);
   border: 1px solid hsla(0, 4%, 50%, 0.276);
   padding: 0 1.25rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-content: stretch;
   height: 6rem;
   margin-bottom: 0.5rem;
   transition-property: transform box-shadow;
   transition-duration: var(--transition-duration);

   &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 0 15px var(--primary);
   }

   & > time {
      font-size: xx-large;
      padding-right: 0.6rem;
      border-right: 1px solid hsla(0, 4%, 50%, 0.276);
      width: 4rem;
      text-align: center;
   }
   & > .type {
      padding-left: 1.1rem;
      flex: 1;

      & > span {
         display: block;
      }

      & > span:last-child {
         color: rgb(123, 121, 121);
      }
   }
   & > .income,
   .expense {
      font-weight: bold;
   }

   & > .income {
      color: rgb(0, 183, 0);
   }

   & > .expense {
      color: rgb(234, 14, 14);
   }
}
